.nav
    unless data["no-menu"]
        ul.steps
            li
                a.to-step.to-home(href="#step=0", data-step=0)
                    img(src=(data["picto-home"]) ? data["picto-home"] : "/img/common/bt-home.png", alt="home")

            each step, stepKey in data.steps         
                li(class=(step["no-index"] ? "hidden":""))
                    a.to-step(href="#step="+stepKey, data-step=stepKey)
                        span.wrapper=strip_tags(step["menu-name"] || step["name"])
                        i.left10=stepKey

    unless data["no-arrows"]
        ul.arrows
            li
                a.previous(title="Précendent") &larr;
            li
                a.next(title="Suivant") &rarr; 

    //- !! Deactivated !!
    if data["tiny-scroll"]
        .tiny-scroll
            .wrapper.arrows
                a.previous(title="Précendent") &larr;
                a.next(title="Suivant") &rarr;
                .tracker
            //- Empty elements
            .shadow 
            .triangle